@tailwind base;
@tailwind components;
@tailwind utilities;

.personalized-text-input {
  height: 3rem;
  border: solid 1px #cecbcb;
  padding: 8px 10px;
  border-radius: 4px;

  &::placeholder {
    font-size: 14px;
    font-weight: 300;
    color: gray;
  }

  &:focus {
    outline: solid 1.4px #2563eb;
    outline-offset: -1px;
  }

  &:focus::placeholder {
    color: transparent;
    transition: all ease-in 0.1s;
  }
}

.error-input {
  background-color: rgb(255, 229, 229);
  border: solid 1px rgb(224, 68, 68);

  &:focus {
    outline: solid 1.4px rgb(224, 68, 68);
    outline-offset: -1px;
  }
}

.personalized-text-input::-webkit-outer-spin-button,
.personalized-text-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.personalized-text-input[type="number"] {
  -moz-appearance: textfield;
}

.personalized-text-input:focus ~ .label-default {
  color: #2563eb;
}

/* RESITANCE INPUT */
.personalized-resistance {
  height: 3rem;
  border: none;
  background-color: transparent;

  &:focus {
    outline: transparent;
  }
}

.personalized-resistance::-webkit-outer-spin-button,
.personalized-resistance::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.personalized-resistance[type="number"] {
  -moz-appearance: textfield;
}

.custom-grid-form {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 450px), 1fr));
}

.custom-grid-form_rendimiento {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 100%), 1fr));
}

.custom-grid-form_rendimiento-sections {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
}

.option-custom {
  appearance: none;
  padding: 4px 4px;
  color: black;
  border-radius: none;
}

.error-input {
  background-color: rgb(255, 229, 229);
  border: solid 1px rgb(224, 68, 68);

  &:focus {
    outline: solid 1.4px rgb(224, 68, 68);
    outline-offset: -1px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 3rem;
  border: solid 1px #cecbcb;
  border-radius: 4px;
}

.dropdown-header {
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  color: gray;
  padding: 8px 10px;
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  left: -3px;
  width: 101%;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background-color: white;
  z-index: 10;
}

.dropdown-item {
  padding: 6px 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  color: black;
}

.dropdown-arrow {
  margin-left: 10px;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.text_placeholder-input {
  border-radius: 0.4rem;
  padding: 0.8rem 1rem;
  font-size: 0.8em;
  outline: 1px solid rgb(179, 179, 179);

  &:focus {
    outline: 2px solid rgb(0, 0, 0);
  }
}

.text_placeholder-input::placeholder {
  position: absolute;
  font-size: 1em;
}

.button-login {
  height: 50px;
  background-color: black;
  color: white;
  margin-top: 3rem;
  padding: 0 2rem;
  font-size: 1.2em;
  border-radius: 0.4rem;
  transition: all ease-in-out 40ms;

  &:hover {
    background-color: rgb(29, 29, 29);
  }
}
